<partial name = "_BootstrapLoad">
<header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container-fluid">               
                <span class="navbar-toggler-icon"></span>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                    <div class="d-flex" >
                                <a asp-controller="Food" asp-action="Index" class="btn btn-secondary btn-right" style="width:150px"> Back to List </a>
                    </div>
                </div>
            </div>
        </nav>
</header>
<h1>Chicken Zinger Burger</h1>
<br>
<p>The trick to cooking a good chicken burger is watching the cook time: they can go from juicy to bone dry quickly once overcooked. They should take about 4 to 5 minutes per side, but there are a lot of factors that lead to different cook times: whether you're cooking on a gas stove or grill, what kind of pan you're using and how well it conducts heat, and how cold your patty was when it hit the pan. Given all of these variables, we think the best way to determine doneness is by using an instant-read meat thermometer: check that the center of the burger reaches 165ºF, which is the USDA's recommended temperature for poultry.</p>
<br> 
<img src="https://hips.hearstapps.com/hmg-prod/images/190416-chicken-burger-082-1556204252.jpg" alt="" width="80%" height="50%">
<br>
<br>
<h4>Step 1 :</h4>
<p>In a large bowl, combine chicken, paprika, garlic, and green onions, and season with salt and pepper. Divide mixture into 4 patties. </p>
<br>
<h4>Step 2 :</h4>
<p>In a large skillet over medium heat, heat oil. Add burger patties and cook, flipping once, until golden and a thermometer inserted into the center registers 165°, 8 to 10 minutes. Top with cheddar, cover, and cook until just melted, 2 minutes. Remove from heat and transfer patties to a plate. </p>
<br>
<h4>Step 3 :</h4>
<p>Stack lettuce, coleslaw, chicken burgers, avocado, red onion, jalapeño, and more coleslaw on top of bottom buns. Close sandwiches with top buns.</p>
<br>
