<partial name = "_BootstrapLoad">
<header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container-fluid">               
                <span class="navbar-toggler-icon"></span>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                    <div class="d-flex" >
                                <a asp-controller="Food" asp-action="Index" class="btn btn-secondary btn-right" style="width:150px"> Back to List </a>
                    </div>
                </div>
            </div>
        </nav>
</header>
<h1>Masala Pasta (Indian Style Pasta)</h1>
<p>Italian Pasta meets Indian Masala to create a delicious and amazing Indo-Italian dish "Masala Pasta". The whole wheat penne, mixed vegetables, onions, tomatoes, Indian spices and herbs transforms to a fast, flavoursome & delicious meal that you can whip up under 30 mins.Make it Umami, cheesy, creamy or meaty with pro tips below.</p>
<br>
<img src="https://www.aheadofthyme.com/wp-content/uploads/2021/02/pasta-bake-with-sausage-baked-ziti-5.jpg" alt=""  width="50%">
<br>
<br>
<h4>Step 1 : </h4>
<p>Firstly, in a large vessel take 2 litre water and 1 tbsp salt, get the water to a rolling boil. Once the water comes to a boil, add 2 cup pasta and boil for 7 minutes or until the pasta is al dente. Make sure to check the cooking time on package instructions.
Drain off the pasta and rinse with cold water to stop from cooking further. keep aside.</p>

<h4>Step 2 : </h4>
<p>To prepare pasta sauce, in a large wok heat 2 tbsp olive oil and 1 tbsp butter. Add 2 clove garlic, 1 chilli and 1 inch ginger and saute slightly. Also, saute ½ onion until the onions shrink slightly by keeping the flame on low, add 1 tsp chilli powder and ½ tsp turmeric.</p>

<h4>Step 3 : </h4>
<p>Saute on low flame until the spices turn aromatic. Further, add 2 cup tomato puree and cook well. Cook until the mixture thickens and oil separates, also add ½ tsp coriander powder, ½ tsp cumin powder, ½ tsp garam masala and ½ tsp salt and saute on low flame until the spices turn aromatic.</p>

<h4>Step 4 : </h4>
<p>Add 2 tbsp sweet corn, 2 tbsp carrot and 2 tbsp capsicum. Cook for a minute and now add ½ cup pasta boiled water, 2 tbsp tomato sauce, 1 tsp mixed herbs and 1 tsp chilli flakes. Cook until the spices are well combined.
further, add ½ cup cheese and mix well. Cheesy pasta sauce is ready.</p>

<h4>Step 5 : </h4>
<p>Now add boiled pasta and mix well making sure the pasta sauce is well combined with pasta. Finally, enjoy desi masala pasta topped with cheese and coriander.</p>