@{
    ViewData["Title"] = "CookBook 101";
}
<partial name = "_BootstrapLoad">
<div>
    <section id="Mid" class="text-center";">
    <p>
    <h3 class="display-4" style="font-family: Arial, Helvetica, sans-serif;"><b>Welcome to CookBook 101 </b></h3>
    </p>
</section>
</div>


